@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    border-top: solid 10px #00356b;
    color: #333;
    padding: 10px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
}
h1 {
    color: #00356b;
    font-size: 50px;
}
img {
    width: 500px;
    max-width: 95vw;
}
p {
    color: #00356b;
    font-size: 20px;
}
#list {
    margin-top: 10px;
}
.item {
    vertical-align: top;
    background: linear-gradient(#00356b, #194979);
    border-radius: 20px;
    padding: 15px 20px;
    display: inline-block;
    color: white;
    margin-bottom: 10px;
    margin-right: 5px;
}
.item.unofficial {
    background: linear-gradient(#00D018, #32D946);
}
.item .body {
    display: none;
    max-width: 6in;
}
.item.open .body {
    display: block;
}
.item p {
    color: white;
}
h2 {
    font-size: 25px;
    user-select: none;
    cursor: pointer;
}
h2::after {
    content: '▼';
    margin-left: 5px;
}
.item.open h2::after {
    content: '▲';
}
h3 {
    font-size: 35px;
    margin-top: 10px;
    font-style: italic;
}
a {
    color: inherit;
}
label {
    display: block;
}
input {
    margin-right: 5px;
}
input, button {
    cursor: pointer;
}
button, .button {
    display: inline-block;
    font: inherit;
    background: none;
    color: #00356b;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 20px;
    background: white;
    text-decoration: none;
}
.item.unofficial .button {
    color: #00D018;
}
footer p {
    font-size: 15px;
    color: lightgray;
}
